<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap TodoList Demo</title>
        <link
            href="{{ url_for('assets', path='css/vendors/bootstrap/bootstrap.min.css') }}"
            rel="stylesheet"
        />
        {% block style %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include "layout/header.html" %}
        <main class="flex-shrink-0">{% block content %}{% endblock %}</main>

        <script src="{{ url_for('assets', path='js/vendors/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('assets', path='js/vendors/jquery/jquery.min.js') }}"></script>

        {% include "layout/footer.html" %} {% block script %}{% endblock %}
    </body>
</html>
