{% extends "layout/base.html" %} {% block content %}
<div class="container my-3">
    <div class="row justify-content-between my-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="" id="input_todo" />

            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btn_add">
                    등록
                </button>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="text-center thead-dark">
                <th style="width: 50px">번호</th>
                <th>내용</th>
                <th style="width: 100px">글쓴이</th>
                <th style="width: 200px">등록일</th>
                <th style="width: 70px">관리</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">5</td>
                <td class="text-left">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault-0"
                            checked
                        />
                        <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault-0"
                            >Todo List Item - 1</label
                        >
                    </div>
                </td>
                <td class="text-center">글쓴이</td>
                <!-- 글쓴이 추가 -->
                <td class="text-center">2022-01-01 00:00:00</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger">
                        삭제
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td class="text-left">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault-1"
                            checked
                        />
                        <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault-1"
                            >Todo List Item - 2</label
                        >
                    </div>
                </td>
                <td class="text-center">글쓴이</td>
                <!-- 글쓴이 추가 -->
                <td class="text-center">2022-01-01 00:00:00</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger">
                        삭제
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td class="text-left">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault-2"
                            checked
                        />
                        <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault-2"
                            >Todo List Item - 3</label
                        >
                    </div>
                </td>
                <td class="text-center">글쓴이</td>
                <!-- 글쓴이 추가 -->
                <td class="text-center">2022-01-01 00:00:00</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger">
                        삭제
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td class="text-left">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault-3"
                        />
                        <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault-3"
                            ><del>Todo List Item - 4</del></label
                        >
                    </div>
                </td>
                <td class="text-center">글쓴이</td>
                <!-- 글쓴이 추가 -->
                <td class="text-center">2022-01-01 00:00:00</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger">
                        삭제
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td class="text-left">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault-4"
                        />
                        <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault-4"
                            ><del>Todo List Item - 5</del></label
                        >
                    </div>
                </td>
                <td class="text-center">글쓴이</td>
                <!-- 글쓴이 추가 -->
                <td class="text-center">2022-01-01 00:00:00</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger">
                        삭제
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="5">등록된 할 일이 없습니다</td>
            </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        <li class="page-item">
            <a class="page-link" href="#">이전</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                >이전</a
            >
        </li>

        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>

        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">6</a>
        </li>

        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">9</a>
        </li>

        <!-- 다음페이지 -->
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                >다음</a
            >
        </li>
        <li class="page-item">
            <a class="page-link" href="#">다음</a>
        </li>
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('assets', path='js/todo.js') }}"></script>
{% endblock %}
